body {
  background-color: #f8f9fa;
}

.text-dm {
  font-family: "DM Sans", sans-serif;
}
.text-rubik {
  font-family: "Rubik", sans-serif;
}
.nav-link {
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  margin: 0 1.1mm;
}
.dropdown-item {
  font-size: 14px;
}
.alink :hover {
  opacity: 90%;
}
.tool-link :hover {
  opacity: 80%;
}
